@model meals_app.Models.MealByFirstLetterModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose a letter</h1>

        @foreach (var item in Model.Letters)
        {

        <div>
            @Html.DisplayFor(modelItem => item.Letter)
        </div>
            
        }
