@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Search meal by name</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">All Meals by First letter</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Lookup a single random meal</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">TBD</a>

</div>
